/*
	Theme Name: WVHub
	Description: Patricia is a non-profit WordPress theme designed for charity organizations. This Genesis child theme has six color options, lots of features, and it is SEO friendly. 
	Author: Web Savvy Marketing
	Author URI: http://www.web-savvy-marketing.com/
	Version: 1.1.0

	Template: genesis
	
	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	
*/
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

/* Base files. */
@import "base/normalize";
@import "base/variables";
@import "base/functions";
@import "base/base-styles";
@import "base/utils";
@import "base/typography";
@import "base/grid";


/* Modules */

@import "modules/buttons";
@import "modules/forms";
@import "modules/lists";
@import "modules/tables";
@import "modules/header";
@import "modules/footer";
@import "modules/modules";
@import "modules/layout";

