// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
// Example Usage: @media($bp-smaller-than-tablet) { ... }
$bp-larger-than-mobile    : "min-width: 480px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

$bp-smaller-than-desktop : "max-width: 1070px" !default;
$bp-smaller-than-tablet : "max-width: 750px" !default;
$bp-smaller-than-mobile : "max-width: 480px" !default;
$bp-smaller-than-phablet   : "max-width: 550px" !default;

$bp-mobile-nav: "max-width: 1022px" !default;

// Colors
$red: #a42126 !default;
$white: #FFFFFF !default;
$black: #000000 !default;
$yellow-green: #D0E873;
$yellow-green-rgba: rgba(208,232,115,0.7);
$dark-navy: #0B1C2D;
$dark-navy-rgb: rgba(11,28,45, .9);
$grey: #636466;
$blue: #74ACC7;
$blue-rgba: rgba(116,172,199,0.7);
$navy: #2A3E52;


//Fonts
$proxima: "proxima-nova",sans-serif;


// Misc
//$global-radius: 4px !default;
