.site-footer{
	background-color: $dark-navy;
	.footer-left{
		#searchform{
			.form{
				position: relative;
				border-bottom: 2px solid $yellow-green;
			}
			margin-bottom: 20px;
			#searchHeader{
				background: none;
				color: $white;
				border: none;
				font-family: 'Neris-Light', sans-serif;
				display: inline-block;
				width: 90%;
				&::-webkit-input-placeholder {
				  color: $white;
				}
				&::-moz-placeholder {
				  color: $white;
				}
				&:-ms-input-placeholder {
				  color: $white;
				}
				&:-moz-placeholder {
				  color: $white;
				}
			}
			button#searchsubmit{
				position: absolute;
				bottom: 0;
				background: none;
				display: inline-block;
				vertical-align: baseline;
				padding: 7px;
				border: none;
				svg{
					height: 24px;
					fill: $white;
					-webkit-transform: rotate(180deg);
					transform: rotate(180deg);
				}
			}
		}
	}
	.footer-right{
		text-align: left;
		.signup-cta{
			font-family: 'Neris-Bold', sans-serif;
		}
		#emailform{
			margin: 10px 0;
			.form{
				position: relative;
				border-bottom: 2px solid $yellow-green;
			}
			#searchHeader{
				background: none;
				color: $white;
				border: none;
				font-family: 'Neris-Light', sans-serif;
				display: inline-block;
				width: 90%;
				&::-webkit-input-placeholder {
				  color: $white;
				}
				&::-moz-placeholder {
				  color: $white;
				}
				&:-ms-input-placeholder {
				  color: $white;
				}
				&:-moz-placeholder {
				  color: $white;
				}
			}
			button#searchsubmit{
				position: absolute;
				bottom: 0;
				background: none;
				display: inline-block;
				vertical-align: baseline;
				padding: 7px;
				border: none;
				svg{
					height: 24px;
					fill: $white;
					-webkit-transform: rotate(180deg);
					transform: rotate(180deg);
				}
			}
		}
	}
}

.sr-only{
	display: none;
}