.site-footer{
	background-color: $dark-navy;
	.footer-left{
		#searchform{
			.form{
				position: relative;
				border-bottom: 2px solid $yellow-green;
			}
			margin-bottom: 20px;
			#searchHeader{
				background: none;
				color: $white;
				border: none;
				font-family: 'Neris-Light', sans-serif;
				display: inline-block;
				width: 90%;
				padding-left: 0px;
				&::-webkit-input-placeholder {
				  color: $white;
				}
				&::-moz-placeholder {
				  color: $white;
				}
				&:-ms-input-placeholder {
				  color: $white;
				}
				&:-moz-placeholder {
				  color: $white;
				}
			}
			button#searchsubmit{
				position: absolute;
				right: 0;
				bottom: 0;
				background: none;
				padding: 0;
				display: inline-block;
				border: none;
				font-family: 'Neris-Regular', sans-serif;
				font-size: 2.4rem;
				line-height: 30px;
				width: auto;
				right: 0;
			}
		}
	}
	.footer-right{
		text-align: left;
		.signup-cta{
			font-family: 'Neris-Bold', sans-serif;
		}
		.signup-leadin{
			font-family: 'Neris-Bold', sans-serif;
		}
		form{
			margin: 10px 0;
			input[type="text"]{
				position: relative;
				background: none;
				color: $white;
				border: none;
				font-family: 'Neris-Light', sans-serif;
				display: inline-block;
				width: 90%;
				&::-webkit-input-placeholder {
				  color: $white;
				}
				&::-moz-placeholder {
				  color: $white;
				}
				&:-ms-input-placeholder {
				  color: $white;
				}
				&:-moz-placeholder {
				  color: $white;
				}			
			}
			.cc_email_address{
				border-bottom: 2px solid $yellow-green;
			}
			#searchHeader{
			}
			input[type="submit"]{
				font-family: "Neris-Regular", sans-serif;
				font-size: 24px;
				line-height: 24px;
				position: absolute;
				top: 0;
				right: 0;
				background: none;
				display: inline-block;
				vertical-align: middle;
				padding: 0px;
				border: none;
			}
		}
	}
}

.sr-only{
	display: none;
}