//Home & Global
.site-header{
	background: rgba(255,255,255,0.7);
	.nav-primary{
		background: none;
		position: relative;
		float: right;
		height: 100px;
		padding: 0;
		box-shadow: none;
	}
	.header-image .site-title, .site-title a{
		min-width: none;
		min-height: none;
		height: 100px;
		width: 200px;
	}
	.title-area{
		padding: 0;
	}
	.header-image{
		.title-area{
			padding-top: 0px;
		}
	}
	.site-title{
		margin: 0;
		background: url(images/logo.png) no-repeat left;
		background-size: auto 70%;
	}
	.title-area, .widget-area{
		@media screen and (max-width: 1022px){
			display: none;
		}
	}
}

.home.page-template .site-header{
	top: 40px;
	position: absolute;
}

.gateway-line{
	height: 40px;
	background-color: $dark-navy;
	padding: 5px;
	text-align: right;
	a.social-nav-cta{
		font-family: 'Neris-Bold', sans-serif;
		font-size: 1.8rem;
		color: $yellow-green;
		vertical-align: middle;

		&:hover{
			color: $white;
			text-decoration: none;
		}
	}
	.social-icons{
		display: inline-block;
		margin: 0 20px;
	}
	a:hover{
		path{
			fill: $yellow-green;
		}
	}
	svg{
		display: inline-block;
		height: 20px;
		vertical-align: middle;
		margin: 0 2px;
	}
	@media screen and (max-width: 1022px){
		display: none;
	}
}

.menu-primary{
	text-align: right;
	padding: 0;
	li{
		margin: 0 0 0 20px;
		font-family: 'Neris-Bold', sans-serif;
		position: relative;
		a{
			padding: 10px;
			line-height: 2rem;
			&:hover{
				text-decoration: none;
				color: $navy;
			}
		}
	}
	.menu-item-has-children{
		&:hover{
			> .sub-menu{
				opacity: 1;
				z-index: 1;
			}
		}
		.sub-menu{
			z-index: -10;
			&::before{
				content: '';
				width: 0;
				height: 0;
				position: absolute;
				left: 50%;
				margin-left: -5px;
				bottom: 100%;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid $navy;
			}
		}
		.menu-item-has-children{
			& > a{
				&::after{
					content: '';
					display: inline-block;
					vertical-align: middle;
					position: absolute;
					right: 2px;
					top: 50%;
					width: 0;
					height: 0;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					border-top: 6px solid $white;
					margin-left: 6px;
					transform: rotate(270deg) translateY(-50%);
				}
			}
			.sub-menu{
				margin: 0;
				position: absolute;
				top: 0;
				left: 100%;
				&::before{
					content: '';
					  width: 0;
					  height: 0;
					  border: 0px;
				}
			}
			&:hover{
				.sub-menu{
					left: 100%;
					right: auto;
				}
			}
		}
	}
	ul.sub-menu{
		margin: 0;
		border-radius: 4px;
		background-color: $navy;
		padding: 4px 0;
		li{
			margin: 0;
			display: block;
			font-size: 1.4rem;
			line-height: normal;
			a{
				border: 0px;
				&:hover{
					background-color: $dark-navy;
					opacity: 1;
				}
			}
		}
	}
}

.mobile-header{
	position: relative;
	height: 100px;
	display: none;
	.mobile-nav-home{
		position: absolute;
		top: 22px;
		left: 20px;
		img{
			height: 60px;
		}
	}
	#mobile-menu-trigger{
		font-family: 'Neris-Regular', sans-serif;
		font-size: 1.8rem;
		position: absolute;
		top: 30px;
		right: 20px;
		background-color: $dark-navy;
		color: $white;
		height: 44px;
		width: 88px;
		border-radius: 22px;
		text-align: center;
		padding: 10px;
		cursor: pointer;
		&:hover{
			text-decoration: none;
		}
	}
	@media screen and (max-width: 1022px){
		display: block;
	}
}

body.home.page-template .mobile-header{
	height: auto;
}


.close-container{
	display: none;
	width: 100%;
	height: 80px;
}
.close-sidr{
	display: none;
	font-family: 'Neris-Regular', sans-serif;
	font-size: 1.8rem;
	position: absolute;
	top: 30px;
	right: 20px;
	background-color: $dark-navy;
	color: $white;
	height: 44px;
	width: 88px;
	border-radius: 22px;
	text-align: center;
	padding: 10px;
	cursor: pointer;
}

#sidr-main{
	right: -320px;
	width: 320px;
	background-color: rgba(255,255,255,0.9);
	font-family: 'Neris-Bold', sans-serif;
	.sidr-inner:first-of-type{
		margin-bottom: 20px;
	}
	a{
		color: $dark-navy;
		&:hover{
			text-decoration: none;
		}
	}
	.close-container{
		display: block;
	}
	.close-sidr{
		display: block;
		color: $white;
		&:hover{
			color: $white;
			text-decoration: none;
		}
	}
	li{
		list-style: none;
		width: 100%;
		display: block;
		margin-bottom: 0px;
		& > a {
			font-size: 1.8rem;
			padding-left: 10px;
			line-height: 60px;
		}
		ul{
			&.sub-menu{
				display: none;
			}
			margin-bottom: 0px;
			a{
				color: $white;
			}
			li{
				background-color: $dark-navy;
			}
			ul{
				margin: 0px;
				a{
					color: $yellow-green;
				}
				li{
					background-color: $navy;
				}
			}
		}
	}
	.menu-item-has-children{
		& > a{
			.arrow{
				display: inline-block;
				vertical-align: middle;
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid $dark-navy;
				margin-left: 10px;
			}
			&.open{
				+ .sub-menu{
					display: initial;
				}
				.arrow{
					transform: rotate(180deg);
				}
			}
		}
		& > ul li a{
			padding-left: 20px;
		}
		.menu-item-has-children{
			& > a{
				.arrow{
					border-top-color: $white;
				}
			}
			ul li a{
				padding-left: 30px;
			}
		}
	}
	.social-nav-cta{
		padding-left: 10px;
		font-size: 1.8rem;
		color: $blue;
	}
	.social-icons{
		padding-left: 10px;
		margin-top: 10px;
		a{
			margin-right: 10px;
		}
		svg{
			height: 30px;
			path, polygon{
				fill: $dark-navy;
			}
		}
	}
}
//Home & Global
