// .gate-wrapper{
// 	// position: absolute;
// 	width: 100vw;
// 	height: 640px;
// 	left: 0;
// }

//Home & Global
.gate-bg{
	// width: 100vw;
	height: 805px;
	//Comment out for tests
	//background-color: $dark-navy;
	//New background, remove once we have an image
	background-color: $dark-navy-rgb;
	color: $white;

	//From SD
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	background-attachment:fixed;
	background-blend-mode:multiply;
	-webkit-backround-blend-mode:multiply;

	@media ($bp-smaller-than-tablet){
		background-attachment:initial !important;
	}

	.gate-spacer{
		height: 100%;
		@media screen and (max-width: 750px){
			display: none;
		}
	}
	.container{
		height: 100%;
	}

	@media screen and (max-width: 750px){
		padding: 40px;
  	}	

	&.wp-widget-plugin-box{
		height:initial;
		width:initial;
		padding:1em;
		background-attachment: initial;
	}
}

.gate-cta{
	height: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	span{
		color: $yellow-green;
	}

	h4{
		@media screen and (max-width: 400px){
			font-size: 2.6rem;
		}
	}
	//SD Addition for widget
	&.widget-textarea{
		height:initial;

	}
}

.cta-dropdown{
	position: relative;
	height: 55px;
	border-radius: 4px;
	border: 2px solid $yellow-green;
	width: 100%;
	color: $yellow-green;
	padding: 12px;
	cursor: pointer;
	@media screen and (max-width: 344px){
		height: 75px;
	}
	//Styling for the CTA widget
	&.cta-widget{
		h6{
			font-size:1.5rem;
		}

		.widget-dropdown{
			h5{
				font-size:1.2rem;
			}
			a{
				background:$dark-navy;
			}
		}
	}
	//++++++++++++++++++++++++++++

	h6{
		font-size: 2rem;
		display: inline-block;
		vertical-align: top;
		@media screen and (max-width: 400px){
			font-size: 1.8rem;
		}
	}
	svg{
		position: absolute;
		right: 0;
		top: 4px;
		height: 44px;
		fill: $yellow-green;
		-webkit-transition: transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out;
	}
	&.open{
		svg{
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
	.dropdown-menu-type{
		display: none;
		position: absolute;
		top: 110%;
		left: 0;
		width: 100%;
		border-radius: 4px;
		border: 2px solid $yellow-green;
		color: $yellow-green;
		z-index: 1;
		h5{
			padding: 10px;
			margin: 0;
			font-weight: bold;
			color: $yellow-green;
		}

		label{
			margin-bottom:0;
		}

		a, .frm_radio{
			display: block;
			background-color: $dark-navy-rgb;
			&:hover,
			&:active,
			&:focus{
				background-color: $navy;
				text-decoration: none;
			}
		}
	}
}

.secondary-cta-group{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	.secondary-cta{
		// height: 400px;
		position: relative;
		margin: 20px 10px;
		&::before{
			content: '';
			display: block;
			padding-top: 100%;
			@media screen and (max-width: 750px){
				display: none;
			}
		}
		&:first-of-type{
			margin-left: 0px;
		}
		&:last-of-type{
			margin-right: 0px;
		}
		h4{
			font-family: 'Neris-Bold', sans-serif;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 14px;
			color: $white;
			z-index: 2;
			margin: 0;
			line-height: 1.2;
			&::after{
				content: ' →'
			}
			@media screen and (max-width: 900px){
				font-size: 2.4rem;
			}
		}
		a{
			color: $white;
			&:hover{
				text-decoration: none;
			}
		}
		.cta-bg{
			background-size: cover;
			background-position: center;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			filter: grayscale(1);
			// height: 100%;
			// width: 100%;
		}
		.cta-filter{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: $yellow-green;
			transition: background-color 0.2s ease-in-out;
			z-index: 1;
			opacity: 0.5;
		}
		&:hover,
		&:active,
		&:focus{
			.cta-filter{
				background-color: $blue;
			}
		} 
		@media screen and (max-width: 750px){
			height: 200px;
			margin: 0;
		}
	}
	@media screen and (max-width: 750px){
		display: initial;
	}
}
//Home & Global

//Form Page
.frm_pos_none{
	display:none;
}

//__--Specific to Global Form

.cta-dropdown.form-field{
	//margin:1em 0;
}

.cta-dropdown-wrap{
	margin:1em 0;
}
.frm_opt_container.dropdown-menu-type{
	display:none;
	// margin-top:-1em;
	// margin-bottom:1em;
	//position: absolute;
	top: 110%;
	left: 0;
	width: 100%;
	border-radius: 4px;
	border: 2px solid $yellow-green;
	color: $yellow-green;
	z-index: 1;
	.frm_radio{
		display: block;
		background-color: $dark-navy-rgb;
		&:hover,
		&:active,
		&:focus{
			background-color: $navy;
			text-decoration: none;
		}
	}
	input[type="radio"]{
		display:none;
	}
	label{
		font-size:2.2rem;
		padding:10px;
		font-weight: bold;
	    font-family: 'Neris-LightItalic', sans-serif;
	    margin-bottom:0;
	}
	input[type="radio"] + label span{

	}

}

.page-template-template-form, .form-page{
	background-color: $navy;
	.site-inner{
		.wrap{
			max-width: none;
		}
		@media screen and (max-width: 1200px){
			padding: 0 100px;
		}
		@media screen and ($bp-smaller-than-tablet){
			padding: 0 40px;
		}
	}
	.site-inner{
		background: $navy;
	}
	.entry-header, .breadcrumb{
		display: none;
	}
	h1{
		color: $white;
		font-size: 4.8rem;
		@media screen and ($bp-smaller-than-tablet){
			font-size: 3.2rem;
		}
	}
}

form.frm_pro_form{
	label{
		font-family: 'Arvo', sans-serif;
		font-weight: 400;
		font-size: 2.4rem;
		color: $yellow-green;
	}
	input[type="text"], input[type="email"]{
		background: transparent;
		font-family: "Neris-Light", sans-serif;
		border-bottom: 2px solid $yellow-green;
		border-top: 0px;
		border-right: 0px;
		border-left: 0px;
		color: $white;
		border-radius: 0px;
		outline: none;
		font-size: 1.8rem;
		height: 44px;
		&::-webkit-input-placeholder {
		  color: $white;
		}
		&::-moz-placeholder {
		  color: $white;
		}
		&:-ms-input-placeholder {
		  color: $white;
		}
		&:-moz-placeholder {
		  color: $white;
		}
	}
	.frm_form_field{
		margin: 0 0 40px 0;
	}
	.frm_opt_container{
		label{
			font-family: 'Neris-Light', sans-serif;
			font-size: 2rem;
			color: $white;
		}
	}
	textarea{
		font-family: 'Neris-Light', sans-serif;
		font-size: 1.8rem;
		min-height: 100px;
		background: transparent;
		border: 2px solid $yellow-green;
		resize: none;
		color: $white;
	}

	.cta-dropdown.frm_form_field{
		margin:0;
	}
	.frm_form_fields{
		fieldset{
			border: 0px;
		}
	}
	button{
		background-color: $dark-navy;
		height: 44px;
		font-family: 'Neris-Bold', sans-serif;
		color: $white;
		border-radius: 10px;
		&:hover{
			color: $yellow-green;
			background-color: $dark-navy;
		}
		@media screen and ($bp-smaller-than-tablet){
			width: 100%;
		}
	}
	.frm_opt_container:not(.dropdown-menu-type){
		margin-top: 20px;
		input[type="checkbox"]{
			position: absolute;
			z-index: -100;
			opacity: 0;
			width: 0px;
		}
		label{
			display: block;
			position: relative;
			cursor: pointer;	
			margin-bottom: 10px;		
			&::before{
				content: '';
				margin-right: 10px;
				display: inline-block;
				height: 36px;
				width: 36px;
				background: transparent;
				border: 2px solid $yellow-green;
				border-radius: 6px;
				vertical-align: middle;
			}
			&::after{
				content: '';
				height: 20px;
				width: 20px;
				background-color: $white;
				border-radius: 50%;
				position: absolute;
				top: 10px;
				left: 10px;
				display: none;
			}
			&.checked{
				&::after{
					display: block;
				}
			}
			// input[type="checkbox"]:checked{
			// 	position: relative;
			// 	z-index: 20;
			// 	width: 90px;
			// 	opacity: 1;
			// }
		}
	}
}

//Accessibility
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}