// .gate-wrapper{
// 	// position: absolute;
// 	width: 100vw;
// 	height: 640px;
// 	left: 0;
// }

.gate-bg{
	// width: 100vw;
	height: 805px;
	background-color: $dark-navy;
	color: $white;

	.gate-spacer{
		height: 100%;
		@media screen and (max-width: 750px){
			display: none;
		}
	}
	.container{
		height: 100%;
	}

	@media screen and (max-width: 750px){
		padding: 40px;
  	}	

	&.wp-widget-plugin-box{
		height:initial;
		width:initial;
		padding:1em;

	}
}

.gate-cta{
	height: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	span{
		color: $yellow-green;
	}

	h4{
		@media screen and (max-width: 400px){
			font-size: 2.6rem;
		}
	}
	//SD Addition for widget
	&.widget-textarea{
		height:initial;

	}
}

.cta-dropdown{
	position: relative;
	height: 55px;
	border-radius: 4px;
	border: 2px solid $yellow-green;
	width: 100%;
	color: $yellow-green;
	padding: 12px;
	cursor: pointer;
	h6{
		font-size: 2rem;
		display: inline-block;
		vertical-align: top;
		@media screen and (max-width: 400px){
			font-size: 1.8rem;
		}
	}
	svg{
		position: absolute;
		right: 0;
		top: 4px;
		height: 44px;
		fill: $yellow-green;
	}
	.dropdown-menu-type{
		display: none;
		position: absolute;
		top: 110%;
		left: 0;
		width: 100%;
		border-radius: 4px;
		border: 2px solid $yellow-green;
		color: $yellow-green;
		z-index: 1;
		h5{
			padding: 10px;
			margin: 0;
			font-weight: bold;
			color: $yellow-green;
		}
		a{
			display: block;
			background-color: rgba(11, 28, 45, 0.8);
			&:hover{
				background-color: $navy;
				text-decoration: none;
			}
		}
	}
}

.secondary-cta-group{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	.secondary-cta{
		// height: 400px;
		position: relative;
		margin: 20px 10px;
		&::before{
			content: '';
			display: block;
			padding-top: 100%;
			@media screen and (max-width: 750px){
				display: none;
			}
		}
		h4{
			font-family: 'Neris-Bold', sans-serif;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 14px;
			color: $white;
			transition: color 0.2s ease-in-out;
			z-index: 1;
			margin: 0;
			line-height: 1.2;
			&::after{
				content: ' →'
			}
			@media screen and (max-width: 900px){
				font-size: 2.4rem;
			}
		}
		.screen{
			background-size: cover;
			background-position: center;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			filter: grayscale(1) contrast(50%);
			// height: 100%;
			// width: 100%;
		}
		&:hover h4{
			color: $yellow-green;
		}
		@media screen and (max-width: 750px){
			height: 200px;
			margin: 0;
		}
	}
	@media screen and (max-width: 750px){
		display: initial;
	}
}